*{margin:0px; padding:0px;}
body{background-color:Teal;}
#wrapper{width:1000px; margin:0 auto; height:auto;}
#header{width:1000px; height:150px; float:left; margin-top:20px;}
#logo{width:100px; height:100px; background-color:#EAC117; float:left;}
#banner{width:900px; height:100px; background-color:#B2C248; float:left;}
#menu{width:100%; height:50px; background-color:Silver; float:left;}
#menu ul{ list-style:none; text-align:center;}
#menu ul li{ display:inline;  line-height:50px; background-color:palegoldenrod; padding:15px;  }
#menu ul li:hover{background-color:Yellow;}
#menu ul li a{ color:Black; text-decoration:none; font-size:20px;}
#container{width:100%; height:auto;  float:left;}
#sidebar{width:200px; height:auto;  float:left;}
#sidebar ul{list-style:none;  }
#sidebar ul li{ background-color:Gray; height:25px; margin-bottom:3px; line-height:40px;padding:7px;}
#sidebar ul li:hover{background-color:#CCFB5D;}
#sidebar ul li a{color:Black; font-size:20px; text-decoration:none;}
#content{width:700px; height:auto;  float:center; margin-left:10px; text-align:center;}
#content p{ text-align:justify; margin:10px;line-height:60px;}
#footer{width:100%; height:50px; background-color:Silver; float:left;text-align:right;}
